src/test/resources/sanity-checks/all_ollama.yaml
id: all_ollama
namespace: sanitychecks.plugin-ollama

inputs:
  - id: prompt
    type: STRING
    defaults: Tell me a joke about AI

tasks:
  - id: ollama_cli_task
    type: io.kestra.plugin.ollama.cli.OllamaCLI
    enableModelCaching: true
    outputFiles:
      - models.json
      - model.txt
    commands:
      - ollama pull smollm:135m
      - ollama list --json > models.json
      - ollama show smollm:135m > model.txt

  - id: check-output
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.ollama_cli_task.exitCode == 0 }}"
      - "{{ outputs.ollama_cli_task.outputFiles['models.json'] is not null }}"
      - "{{ outputs.ollama_cli_task.outputFiles['model.txt'] is not null }}"
