src/test/resources/sanity-checks/all_ollama.yaml
id: all_ollama
namespace: sanitychecks.plugins.plugin-ollama

inputs:
  - id: prompt
    type: STRING
    defaults: Tell me a joke about AI

tasks:
  - id: ollama_cli_task
    type: io.kestra.plugin.ollama.cli.OllamaCLI
    enableModelCaching: true
    modelCachePath: /tmp/.ollama
    outputFiles:
      - completion.txt
    commands:
      - ollama run smollm:135m "{{ inputs.prompt }}" > completion.txt

  - id: check-output
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - "{{ outputs.ollama_cli_task.exitCode == 0 }}"